.vscode/

build/

*.gz
*.xz
*.deb
dist/
version
md5sums

src/makemkv/tmp/

debian/makemkvcon-*/
debian/makemkv-*/
debian/makemkvcon/
debian/libmakemkv-*/

tmp/

debian/.debhelper/

debian/*.substvars
debian/files

build-stamp

_build/

*.full
