Source: makemkvcon
Section: unknown
Priority: optional
Maintainer: Michael <michaelleeschaecher@gmail.com>
Build-Depends: debhelper-compat (= 13), autotools-dev, libexpat1-dev, libavcodec-dev, zlib1g-dev,
 libavcodec-dev, boa, pandoc, dh-make
Standards-Version: 4.6.0
Homepage: https://www.makemkv.com/
Vcs-Browser: https://github.com/MLSTidbits/makemkvcon
#Vcs-Git: https://salsa.debian.org/debian/template.git
Rules-Requires-Root: no

Package: makemkvcon
Architecture: amd64
Depends: libmakemkv-oss
Suggests:
    makemkv-firmware, makemkv-docs, makemkv-sdftools, libredrive-firmware
Description: MakeMKVCON is the command-line interface for MakeMKV
 MakeMKV is a format converter, otherwise known as "transcoder". It converts
 the video clips from proprietary (and usually encrypted) disc into a set of
 MKV format can store multiple video/audio tracks with all meta-information
 and preserve chapters. There are many players that can play MKV files nearly
 on all platforms, and there are tools to convert MKV files to many formats,
 including Blu-ray and DVD discs.

Package: makemkvcon-docs
Architecture: amd64
Depends: makemkvcon
Suggests: makemkvcon
Description: Manual page/pages for MakeMKVCON used for cli commands

Package: libmakemkv-oss
Architecture: amd64
Depends: makemkvcon, reel
Description: Library and binaries for makemkvcon used to decrypt video
 This package does not contain the MakeMKV GUI application, only the library and
 helper binaries used by makemkvcon to decrypt video. Allowing use of third-party
 a backend decryption applications.

Package: libredrive-tools-docs
Architecture: amd64
Depends: makemkv-sdftools
Description: Manual page/pages for SDFTools used for flashing LibreDrive

Package: libredrive-tools
Architecture: all
Depends: makemkv-sdftools, makemkvcon
Description: LibreDrive tools kits (firmware and executable)
 LibreDrive firmware for compatible drives. This package is not intended to be
 installed on its own, but is a dependency of makemkv-sdftools. It contains the firmware
 files that makemkv-sdftools can flash to compatible drives.
